@model PreExistingRelationalDB.Models.ViewModels.ViewModel

@{
    ViewBag.Title = "WWI - Personal Info";
}

@* Creates a list page containing information of the selected Person *@

<div>
    <div class="row">
        <div class="col-md-6" style="border:3px solid black; background-color:#E5E5E5;">
            <h2 style="text-align:center; font-weight:bold; margin-bottom:15px; border-bottom: 2px solid gray; padding-bottom: 15px;">
                @Html.DisplayFor(model => model.Person.FullName)
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    Preferred Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.PreferredName)
                </dd>

                <dt>
                    Phone Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.PhoneNumber)
                </dd>

                <dt>
                    Fax Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.FaxNumber)
                </dd>

                <dt>
                    Email address:
                </dt>
                <dd>
                    <a href="mailto:@Model.Person.EmailAddress"> @Html.DisplayFor(model => model.Person.EmailAddress)</a>
                </dd>

                <dt>
                    Member Since:
                </dt>
                <dd>
                    @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(Html.DisplayFor(model => model.Person.ValidFrom).ToString()))
                </dd>
            </dl>

        </div>
        <div class="col-md-6">
            <img src="https://via.placeholder.com/160x200?text=Photo" alt="@Model.Person.Photo" />
        </div>

    </div>

    @if (ViewBag.NotEmployee)
    {
        <div class="row" style="margin-top:15px;">
            <div class="col-md-6" style="border:3px solid black; background-color:#E5E5E5;">
                <h2 style="text-align:center; font-weight:bold; margin-bottom:15px; border-bottom: 2px solid gray; padding-bottom: 15px;">
                    Company Profile
                </h2>
                <dl class="dl-horizontal">
                    <dt>
                        Company:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.CustomerName)
                    </dd>

                    <dt>
                        Phone Number:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.PhoneNumber)
                    </dd>

                    <dt>
                        Fax Number:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.FaxNumber)
                    </dd>

                    <dt>
                        Website:
                    </dt>
                    <dd>
                        <a href="@Model.Customer.WebsiteURL"> @Html.DisplayFor(model => model.Customer.WebsiteURL)</a>
                    </dd>

                    <dt>
                        Member Since:
                    </dt>
                    <dd>
                        @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(Html.DisplayFor(model => model.Customer.AccountOpenedDate).ToString()))
                    </dd>
                </dl>
            </div>
        </div>
    }



    <br />
    @Html.ActionLink("Back to Search", "Index", "Home", new { @style = "margin-left:510px; font-weight:bold;" })

</div>

