@model PreExistingRelationalDB.Models.ViewModels.ViewModel

@{
    ViewBag.Title = "WWI - Personal Info";
}

@* Creates a list page containing information of the selected Person *@

<div>
    <div class="row">
        <div class="col-md-6" style="border:3px solid black; background-color:#E5E5E5;">
            <h2 style="text-align:center; font-weight:bold; margin-bottom:15px; border-bottom: 2px solid gray; padding-bottom: 15px;">
                @Html.DisplayFor(model => model.Person.FullName)
            </h2>
            <dl class="dl-horizontal">
                <dt>
                    Preferred Name:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.PreferredName)
                </dd>

                <dt>
                    Phone Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.PhoneNumber)
                </dd>

                <dt>
                    Fax Number:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Person.FaxNumber)
                </dd>

                <dt>
                    Email address:
                </dt>
                <dd>
                    <a href="mailto:@Model.Person.EmailAddress"> @Html.DisplayFor(model => model.Person.EmailAddress)</a>
                </dd>

                <dt>
                    Member Since:
                </dt>
                <dd>
                    @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(Html.DisplayFor(model => model.Person.ValidFrom).ToString()))
                </dd>
            </dl>

        </div>
        <div class="col-md-6">
            <img src="https://via.placeholder.com/160x200?text=Photo" alt="@Model.Person.Photo" />
        </div>

    </div>

    @if (ViewBag.NotEmployee)
    {
        @* Table for "Company Profile" feature *@
        <div class="row" style="margin-top:15px;">
            <div class="col-md-6" style="border:3px solid black; background-color:#E5E5E5;">
                <h2 style="text-align:center; font-weight:bold; margin-bottom:15px; border-bottom: 2px solid gray; padding-bottom: 15px;">
                    Company Profile
                </h2>
                <dl class="dl-horizontal">
                    <dt>
                        Company:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.CustomerName)
                    </dd>

                    <dt>
                        Phone Number:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.PhoneNumber)
                    </dd>

                    <dt>
                        Fax Number:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.FaxNumber)
                    </dd>

                    <dt>
                        Website:
                    </dt>
                    <dd>
                        <a href="@Model.Customer.WebsiteURL"> @Html.DisplayFor(model => model.Customer.WebsiteURL)</a>
                    </dd>

                    <dt>
                        Member Since:
                    </dt>
                    <dd>
                        @string.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(Html.DisplayFor(model => model.Customer.AccountOpenedDate).ToString()))
                    </dd>
                </dl>
            </div>
        </div>

        @* Table for "Purchase History Summary" feature *@
        <div class="row" style="margin-top:15px;">
            <div class="col-md-6" style="border:3px solid black; background-color:#E5E5E5;">
                <h2 style="text-align:center; font-weight:bold; margin-bottom:15px; border-bottom: 2px solid gray; padding-bottom: 15px;">
                    Purchase History Summary
                </h2>
                <dl class="dl-horizontal">
                    <dt>
                        Orders:
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Customer.Orders.Count)
                    </dd>

                    <dt>
                        Gross Sales:
                    </dt>
                    <dd>
                        @string.Format("{0:C}", ViewBag.GrossSales)
                    </dd>

                    <dt>
                        Gross Profit:
                    </dt>
                    <dd>
                        @string.Format("{0:C}", ViewBag.GrossProfit)
                    </dd>
                </dl>
            </div>
        </div>

        @* Table for "Items Purchased" feature *@
        <div class="row" style="margin-top:15px;">
            <div class="col-md-6" style="border:3px solid black; background-color:#E5E5E5;">
                <h2 style="text-align:center; font-weight:bold; margin-bottom:15px; border-bottom: 2px solid gray; padding-bottom: 15px;">
                    Top 10 Items Purchased By Profit
                </h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Stock Item ID
                            </th>

                            <th>
                                Description
                            </th>

                            <th>
                                Line Profit
                            </th>

                            <th>
                                Sales Person
                            </th>

                            
                        </tr>
                    </thead>

                    @foreach (var results in Model.InvoiceLine)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(result => results.StockItemID)
                                </td>

                                <td>
                                    @Html.DisplayFor(result => results.Description)
                                </td>

                                <td>
                                    @string.Format("{0:C}", results.LineProfit)
                                </td>

                                <td>
                                    @Html.DisplayFor(result => results.Invoice.Person4.FullName)
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    }
    <br />
    @Html.ActionLink("Back to Search", "Index", "Home", new { @style = "margin-left:510px; font-weight:bold;" })

</div>

