@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Color Mixer";
}

<h2>Create a New Color</h2>
<p>Enter colors you wish to mix in HTML hexadecimal format. Ex: #AABBCC</p>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Create", "Color", FormMethod.Post, new { id = 0, @class = "myForm" }))
        {
            <div class="form-group">
                @Html.Label("colorOne", "First Color")
                @Html.TextBox("colorOne", null, new { @class = "form-control", @pattern = "#[0-9A-Fa-f]{3,6}", @placeholder = "#12B37F", required = "required" })

                @Html.Label("colorTwo", "Second Color")
                @Html.TextBox("colorTwo", null, new { @class = "form-control", @pattern = "#[0-9A-Fa-f]{3,6}", @placeholder = "#A13344", required = "required" })
            </div>

            <input type="submit" class="btn btn-primary" value="Mix Colors" />
        }

        @if (ViewBag.show == true)
        {
            <br />
            <div class="row">
                <div class="col-sm-1" style="width:75px; height:75px; @ViewBag.color1; border-style:solid; border-width:1px"></div>
                <div class="col-sm-1" style="width:45px;"><h3>+</h3></div>
                <div class="col-sm-1" style="width:75px; height:75px; @ViewBag.color2; border-style:solid; border-width:1px"></div>
                <div class="col-sm-1" style="width:45px;"><h3>=</h3></div>
                <div class="col-sm-1" style="width:75px; height:75px; @ViewBag.color3; border-style:solid; border-width:1px"></div>
            </div>
        }



    </div>
</div>