@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Color Mixer";
}

<h2>Create a New Color</h2>
<p>@ViewBag.Message</p>

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("Index", "Color", FormMethod.Post, new { id = 0, @class = "myForm" }))
        {
            <div class="form-group">
                @Html.Label("colorOne", "First Color")
                @Html.TextBox("colorOne", "", new { @class = "form-control", @pattern = "#[0-9A-Fa-f]{3,6}", @placeholder = "#12B37F", required = "required" })

                @Html.Label("colorTwo", "Second Color")
                @Html.TextBox("colorTwo", "", new { @class = "form-control", @pattern = "#[0-9A-Fa-f]{3,6}", @placeholder = "#A13344", required = "required" })
            </div>

            <button type="submit" class="btn btn-primary">Mix Colors</button>
        }



    </div>
</div>