@model IEnumerable<HW5SimpleDB.Models.Renter>

@* View that shows a table, pulling from the database, of all Current Renter Requests *@

@{
    ViewBag.Title = "View Requests";
}

<h1 style="text-align:center; padding-bottom:10px;">Campus Apartments</h1>
<h4 style="text-align:center;">All Current Renter Requests</h4>
<br />

<table class="table">
    <tr style="border: 3px solid black; background-color: #C4C4C4; font-style:italic;">
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Apartment Name
        </th>
        <th>
            Unit Number
        </th>
        <th>
            Explanation of Request
        </th>
        <th>
            Permission to Enter Unit
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border: 3px solid black; background-color: #E2E2E2;">
            <th>
                @Html.DisplayFor(modelItem => item.FirstName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.LastName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.ApartmentName)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Explanation)
            </th>
            <th style="text-align:center;">
                @Html.DisplayFor(modelItem => item.Permission)
            </th>
        </tr>
    }

</table>
